.rounded-textarea {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr; 
  grid-gap: 1rem; 
  width: 100%; 
  align-items: center;
  justify-items: center;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #ccc;
  width: 25%; 
  box-sizing: border-box;
  resize: none;
  outline: none;
  color: #ffff;
}
