.dropdown-container {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  color: #000000;
  background-color: #ffffff; 
  width: 150px;
  border-radius: 4px;
  padding: 8px 3px;
}




/* Estilos para el icono del usuario */
.user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer; 
}
