.home-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5vh;
  text-align: center;
}

.home-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text-center {
  font-family: 'Roboto Serif', serif;
  color: #020030;
  font-size: 35px;
  text-align: center;
}
.home-title{
  padding-bottom: 5rem ;
}

.home-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}

.home-button-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-button {
  background-color: #034078;
  color: #fff;
  width: 12rem;
  height: 4.5rem;
  padding: 0 1rem;
  margin: 0 1rem;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.home-button:hover {
  transform: translateZ(10px);
}

.home-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-imgHome {
  height: 65vh;
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  .button {
    margin: 0;
  }
}