.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  width: 100%;
}
.rounded-input-dni {
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}
