.default-input {
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  color: #ffff;
  font-size: 16px;
  margin-bottom: 3px;
}

.errormsg {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}
