.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #001f54;
  color: white;
  height: 70px;
}

.logo {
  background-size: cover;
  width: 150px;
  background-color: none;
}

.menu {
  display: flex;
  gap: 20px;
  background-color: #001f54;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}
.nav-link {
  background-color: #001f54;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #001f54;
    padding: 10px;
  }

  .menu.active {
    display: flex;
    width: 100%;
    right: 0;
    align-items: center;
    top: 70px;
  }

  .menu-toggle {
    display: flex;
    background-color: #001f54;
  }
}
